@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #93f9b9;
    --foreground: #000000;
  }
}

html, body {
  height: 100%;
  margin: 0;
}

body {
  /* background: var(--background); */
  background: linear-gradient(to bottom, #1D976C, #93F9B9);
  background-repeat: no-repeat;
  background-size: 100% 100%; /* Ensures it covers the whole page */
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.hover-border-orange {
  @apply hover:border-b-2 hover:border-orange-500;
}